/*

Darkula color scheme from the JetBrains family of IDEs

*/


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
}

.hljs {
  color: #bababa;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba;
}

.hljs-code,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #cb7832;
}

.hljs-params {
  color: #b9b9b9;
}

.hljs-string,
.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f;
}

.bodyStyle {
	background-color: #1A3212;
	color: #afac87;
	display: block;
	height: 100vh;
	overflow: hidden;
	width: 100%;
}

.header {
	height: 30px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.Title {font-size: 1.3em;}

.content {
	height: calc(100% - 52px);
	padding: 0px 5px;
}

* { outline: none; }

.a{display:block}

.FlexBox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.FlexBoxJustAround {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

.FlexBoxJustBetween {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
}

.FlexBoxWrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.FlexJustify {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.FlexBoxStretch {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-content: stretch;
}

.FlexItem {
	flex-grow: 1;
}

.HighZ {z-index: 200;}

pre {
  height: 100%;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/**
 *  react-markdown-area - A React JS Component - enhanced 'textarea' with markdown live preview
 *  Copyright (c) 2015, Matthew McFarland. (BSD Licensed)
 *  @version v0.1.0
 *  @link http://mattmcfarland.github.io/react-markdown-area/
 *  @license BSD-2-Clause
 */

/**
* Vendor: React
* Copyright 2013-2015, Facebook, Inc. (BSD-style license in the root directory of react source tree)
* All rights reserved.
*
*/

/**
* Vendor: marked - a markdown parser
* Copyright (c) 2011-2014, Christopher Jeffrey. (MIT Licensed)
* https://github.com/chjj/marked
*/
.marked-area {
  border: thin solid #bababa;
  display: block; }
  .marked-area-header > label {
    display: block; }
  .marked-area-header menu {
    padding: 1em 0.5em;
    margin: 0;
    display: block;
    background: #efefef;
    border-bottom: thin solid #bababa; }
  .marked-area-button {
    font-size: 16px;
    line-height: 20px;
    border-radius: 0;
    border: thin solid grey;
    background-color: white; }
    .marked-area-button.active {
      color: white;
      background-color: grey; }
  .marked-area-help-link {
    margin-left: 1em; }
  .marked-area-text-container > textarea, .marked-area-text-container > div {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    min-height: 160px;
    padding: 1em;
    margin: 0; }
  .marked-area-live-divider {
    margin: 0 0 -1.5em;
    opacity: 0.3;
    border-top: thin solid black;
    padding: 0.5em 0.5em 0;
    font-size: 16px;
    line-height: 16px; }
